{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Buenos Aires</title>
    {% endblock %}
    {% block stylesheet %}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% endblock %}
</head>
<body>
    <header>
        {% block navbar %}
        <nav id="navbar">
            <div id="nav" class="d-flex justify-content-between">
                <ul class="list-inline">
                    {% if not user.is_authenticated %}
                        <li class="nav-item list-inline-item align-center nav_item_text">
                            <a href="{% url 'registro' %}">Registrarse</a>
                        </li>
                        <li class="nav-item list-inline-item align-center nav_item_text">
                            <a href="{% url 'login' %}">Iniciar Sesión</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item list-inline-item align-center nav_item_text">
                            Bienvenido, {{ user.username }}
                        </li>
                        <li class="nav-item list-inline-item align-center nav_item_text">
                            <a href="{% url 'home' %}">Inicio</a>
                        </li>
                        {% if user.rol.idRol == 3 %}
                            <li class="nav-item list-inline-item align-center nav_item_text">
                                <a href="{% url 'Producto' action='ins' id=-1 %}">Mantenedor</a>
                            </li>
                        {% endif %}
                        {% if user.rol.idRol != 3 %}
                            <li class="nav-item list-inline-item align-center nav_item_text">
                                <a href="{% url 'carrito_compra' %}">Carrito</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="list-inline">
                        <li class="nav-item list-inline-item align-center nav_item_text logout-btn">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <a href="#" onclick="this.parentNode.submit();">Cerrar Sesión</a>
                            </form>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <hr>
        <form method="get" action="{% url 'buscar_productos' %}">
            <input type="text" name="q" placeholder="Buscar por ID o Nombre del producto">
            <button type="submit">Buscar</button>
        </form>
        </div>
        </nav>
        {% endblock %}




    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
            <div class="container">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 id="texto-footer">DUOC PAÑOL</h3>
                        <p>Creado por Eros Bozzo y Kevin Gatica</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Contacto</h3>
                        <p>Correo electrónico: pañol@example.com</p>
                        <p>Teléfono: +1234567890</p>
                        <p>Dirección: 123 Calle Principal, Ciudad</p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>
    
    
</body>
</html>
