{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>DUOC PAÑOL</title>
    {% endblock %}
    {% block stylesheet %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% endblock %}
    {% block scripts %}
    <script src="{% static 'core/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'core/js/notificaciones.js' %}"></script>
    <script>
        $(document).ready(function() {
    // Función para cargar el contador de notificaciones
            function cargarContadorNotificaciones() {
                $.ajax({
                    url: '{% url "obtener_notificaciones" %}',
                    dataType: 'json',
                    success: function(response) {
                        // Actualizar el contenido del contador en el navbar
                        $(".badge-notif").text(response.count_no_leidas);
                    },
                    error: function(error) {
                        console.error('Error al obtener el contador de notificaciones: ', error);
                    }
                });
            }

            // Cargar el contador al cargar la página
            cargarContadorNotificaciones();

            // Actualizar el contador cada 60 segundos (o el intervalo que prefieras)
            setInterval(cargarContadorNotificaciones, 60000);
            });
    </script>
    {% endblock %}

</head>
<body>
    <header>
        {% block navbar %}
        <div id="navbar-container">
            <nav id="navbar">
                <div id="nav" class="d-flex justify-content-between align-center">
                    <ul class="list-inline">
                        {% if not user.is_authenticated %}
                            <li class="nav-item list-inline-item nav-item-text">
                                <a href="{% url 'determine_home_page' %}">Inicio</a>
                            </li>
                            <li class="nav-item list-inline-item nav-item-text">
                                <a href="{% url 'registro' %}">Registrarse</a>
                            </li>
                            <li class="nav-item list-inline-item nav-item-text">
                                <a href="{% url 'login' %}">Iniciar Sesión</a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="nav-item list-inline-item nav-item-text">
                                Bienvenido, {{ user.username }}
                            </li>
                            <li class="nav-item list-inline-item nav-item-text">
                                <a href="{% url 'determine_home_page' %}">Inicio</a>
                            </li>
                            <li class="nav-item list-inline-item nav-item-text">
                                <a href="{% url 'cambiar_contraseña' %}" class="btn-cambiar-contraseña">Cambiar Contraseña</a>
                            </li>
                            <li class="nav-item list-inline-item nav-item-text">
                                <a href="{% url 'notificaciones' %}" class="nav-link">
                                    Notificaciones
                                    <span class="badge badge-pill badge-notif" id="contadorNotificaciones" style="background-color: #ff0000;"></span>
                                </a>
                            </li>
                            {% if user.rol.idRol == 3 %}
                                <li class="nav-item list-inline-item nav-item-text">
                                    <a href="{% url 'lista_productos' %}">Mantenedor</a>
                                </li>
                                <li class="nav-item list-inline-item nav-item-text">
                                    <a href="{% url 'solicitudes' %}">Solicitudes</a>
                                </li>
                            {% endif %}
                            {% if user.rol.idRol != 3 %}
                                <li class="nav-item list-inline-item nav-item-text">
                                    <a href="{% url 'carrito_compra' %}">Carrito</a>
                                </li>
                                <li class="nav-item list-inline-item nav-item-text">
                                    <a href="{% url 'mis_solicitudes' %}">Mis solicitudes</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="list-inline">
                            <li class="nav-item list-inline-item logout-btn">
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="logout-button">Cerrar Sesión</button>
                                </form>                                
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>
        <hr>
        <div id="search-container">
            <form method="get" action="{% url 'buscar_productos' %}">
                <input type="text" name="q" placeholder="Buscar por ID o Nombre del producto">
                <button type="submit">Buscar</button>
            </form>
        </div>
        </nav>
        {% endblock %}
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h3 id="texto-footer">DUOC PAÑOL</h3>
                        <p>Creado por Eros Bozzo y Kevin Gatica</p>
                    </div>
                    <div class="col-md-5">
                        <h3>Contacto</h3>
                        <p>Correo electrónico: pañol@example.com</p>
                        <p>Teléfono: +1234567890</p>
                        <p>Dirección: 123 Calle Principal, Ciudad</p>
                    </div>
                    <div class="col-md-2">
                        <h3 id="logo-footer">
                            <img src="/media/images/logo_duoc.png" alt="Logo de Mi Empresa">
                        </h3>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>
</body>
</html>
