{% extends "core/base.html" %}
{% load static %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block stylesheet %}
    {{ block.super }} <!-- Mantén los estilos de la plantilla base -->
    <link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container-title">
    <img src="/media/images/Logo transparente.png" alt="Título de la imagen" style="display: block; margin: 0 auto; width: 500px; height: 150px;">
</div>



<form method="GET" action="{% url 'home' %}">
    <div class="container-buttons" style="text-align: center;">
        <a href="{% url 'reponedor_depdiseño' %}" class="btn btn-primary">Reponedor de Diseño</a>
        <a href="{% url 'reponedor_depinformatica' %}" class="btn btn-primary">Reponedor de Informática</a>
        <a href="{% url 'reponedor_depproductosdisponibles' %}" class="btn btn-primary">Reponedor de Productos Disponibles</a>
        <a href="{% url 'reponedor_depproductosdadosdebaja' %}" class="btn btn-primary">Reponedor de Productos Dados de Baja</a>
        <a href="{% url 'Producto' action='ins' id=-1 %}" class="btn btn-primary">Mantenedor</a>
        <a href="{% url 'todos_los_productos' %}" class="btn btn-primary">Todos los productos</a>
    </div>
</form>



{% endblock %}
