{% extends "core/base.html" %}
{% load static %}

{% block title %}
    <title>Iniciar Sesión</title>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link href="{% static 'core/css/registro.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/forms.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="container-login">
        <div class="titulo-container">
            <h2>Iniciar Sesión</h2>
        </div>

        <form method="post" id="login-form">
            {% csrf_token %}
            <div class="input-container">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-container">
                <label for="password">Contraseña (RUT sin dígito verificador):</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="button-iniciar-sesion">Iniciar Sesión</button>
        </form>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const loginForm = document.getElementById('login-form');
      loginForm.addEventListener('submit', async function (e) {
        e.preventDefault();
  
        const formData = new FormData(loginForm);
        const response = await fetch(loginForm.action, {
          method: 'POST',
          body: formData,
        });
  
        if (response.ok) {
          const data = await response.json();
          Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: data.message,
          }).then((result) => {
            if (result.isConfirmed || result.isDismissed) {
              window.location.href = '{% url "determine_home_page" %}';
            }
          });
        } else {
          const errorData = await response.json();
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: errorData.error_message,  // Mostrar el mensaje de error recibido del servidor
          });
        }
      });
    });
  </script>
{% endblock %}