{% extends "core\base.html" %}

{% load static %}

{% block title %}
    <title>Solicitud exitosa</title>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link href="{% static 'core/css/notificaciones.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'core/js/notificaciones.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Bienvenido a la página de inicio</h1>

    <div class="col-9">
        <h3 class="mb-4 border-bottom pb-1">Notificaciones nuevas <span class="badgebg-primary">0</span></h3>
        <span class="ajaxRes"></span>
        <ul class="list-group notif-list">
            Loading...
        </ul>
        <!-- Agregar un elemento con el atributo data-url para almacenar la URL -->
        <div id="notificaciones" data-url="{% url 'obtener_notificaciones' %}"></div>
    </div>
    
{% endblock %}