{% extends "core\base.html" %}

{% load static %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block stylesheet %}
    {{ block.super }} <!-- Mantén los estilos de la plantilla base -->
    <link href="{% static 'core/css/formulario_producto.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
        <h1 style="text-align: center !important;">Formulario mantenedor de productos</h1>

        <div class="product-form-container">
        <form id="formulario" method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-row">
                <div class="col-md-2">
                    <label for="{{ field.id_for }}">{{ field.label }}</label>
                </div>
                <div class="col-md-10">
                    {{ field }}
                </div>
                </div>
            {% endfor %}

            <div class="form-buttons">
                <input type="submit" class="btn btn-primary" id="id_guardar" value="Guardar">
                <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Cancelar</a>
             </div>
                
        </form>
        </div>
        

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('formulario').addEventListener('submit', function (event) {
                    event.preventDefault();
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Guardado correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        // Envía el formulario manualmente después de mostrar el SweetAlert
                        document.getElementById('formulario').submit();
                    });
                });
            });
        </script>

{% endblock %}
