{% extends "core/base.html" %}
{% load static %}

{% block title %}
    <title>Registro</title>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link href="{% static 'core/css/registro.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container-registro">
    <div class="titulo-container">
        <h2>REGISTRO DE USUARIO</h2>
    </div>
    <div>
      <form method="post" id="registro-form">
          {% csrf_token %}
          <div class="form-field">
              <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
              {{ form.username }}
          </div>
          <div class="form-field">
              <label for="{{ form.correo.id_for_label }}">Correo:</label>
              {{ form.correo }}
          </div>
          <div class="form-field">
              <label for="{{ form.sede.id_for_label }}">Sede:</label>
              {{ form.sede }}
          </div>
          <div class="form-field">
              <label for="{{ form.rol.id_for_label }}">Rol:</label>
              {{ form.rol }}
          </div>
          <div class="form-field">
              <label for="{{ form.departamento.id_for_label }}">Departamento:</label>
              {{ form.departamento }}
          </div>
          <div class="form-field">
              <label for="{{ form.password1.id_for_label }}">Contraseña (RUT sin digito verificador):</label>
              {{ form.password1 }}
          </div>
          <div class="form-field">
              <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
              {{ form.password2 }}
          </div>
          <button type="submit" class="button-registro">Registrarse</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const registroForm = document.getElementById('registro-form');
      registroForm.addEventListener('submit', async function (e) {
        e.preventDefault();

        const formData = new FormData(registroForm);
        const response = await fetch(registroForm.action, {
          method: 'POST',
          body: formData,
        });

        if (response.ok) {
          const data = await response.json();
          Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: data.message,
          }).then((result) => {
            if (result.isConfirmed || result.isDismissed) {
              window.location.href = '{% url "determine_home_page" %}';
            }
          });
        } else {
          const errorData = await response.json();
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: errorData.message,
          });
        }
      });
    });
  </script>
{% endblock %}
