{% extends "core\base.html" %}

{% load static %}

{% block title %}
    <title>Registro</title>
{% endblock %}

{% block stylesheet %}
    {{ block.super }} <!-- Mantén los estilos de la plantilla base -->
    <link href="{% static 'core/css/registro.css'%}" rel="stylesheet">
    <link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="titulo-container"> <!-- Agrega la clase "titulo-container" aquí -->
        <h2>REGISTRO DE USUARIO</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
    </form>
    <!-- Muestra los mensajes de éxito o error -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>
{% endblock %}
