{% extends "core/base.html" %}
{% load static %}

{% block title %}
    <title>Registro</title>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link href="{% static 'core/css/registro.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container-registro">
    <div class="titulo-container">
        <h2>REGISTRO DE USUARIO</h2>
    </div>
    <form method="post" id="registro-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
    </form>
    <!-- Muestra los mensajes de éxito o error -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const registroForm = document.getElementById('registro-form');
      registroForm.addEventListener('submit', async function (e) {
        e.preventDefault();

        const formData = new FormData(registroForm);
        const response = await fetch(registroForm.action, {
          method: 'POST',
          body: formData,
        });

        if (response.ok) {
          const data = await response.json();
          Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: data.message,
          }).then((result) => {
            if (result.isConfirmed || result.isDismissed) {
              window.location.href = '{% url "determine_home_page" %}';
            }
          });
        } else {
          const errorData = await response.json();
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: errorData.message,
          });
        }
      });
    });
  </script>
{% endblock %}
