{% extends "core/base.html" %}
{% load static %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block stylesheet %}
    {{ block.super }} <!-- Mantén los estilos de la plantilla base -->
    <link rel="stylesheet" href="{% static 'core/css/producto.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center !important;">
            Productos disponibles
        </h1>
        {% block new_product_button %}
            <div class="row justify-content-end mb-3">
                <div class="col-auto">
                    <a class="btn btn btn-success btn-sm" href="{% url 'Producto' 'ins' -1  %}">
                        Nuevo Producto +
                    </a>
                </div>
                <div class="col-auto">
                    <a href="#" id="descargar-excel-btn" class="btn btn-success btn-sm" style="float: right; margin-right: 10px;">Descargar Excel</a>
                </div>
            </div>
        {% endblock %}
        
        {% if list %}
        <table id="tabla_datos">
            <thead>
                <tr>
                    <th>Id de Producto</th>
                    <th>Nombre del producto</th>
                    <th>Es fungible</th>
                    <th>Estado</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Stock</th>
                    <th>Stock Minimo</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Rack</th>
                    <th class="titulo_boton">Editar</th>
                    <th class="titulo_boton">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for ve in list %}
                <tr>
                    <td>{{ ve.idProducto }}</td>
                    <td>{{ ve.nombreProducto }}</td>
                    <td>{{ ve.esFungible }}</td>
                    <td>{{ ve.estadoProducto }}</td>
                    <td>{{ ve.marca }}</td>
                    <td>{{ ve.modelo }}</td>
                    <td>{{ ve.stock }}</td>
                    <td>{{ ve.stockMinimo }}</td>
                    <td>{{ ve.descripcion }}</td>
                    <td><img src="/media/{{ ve.imagen }}" class="mini_auto" alt=""></td>
                    <td>{{ ve.ubicacionRack }}</td>
                    <td><a href="{% url 'Producto' 'upd' ve.idProducto %}" 
                        class="btn btn-primary btn-sm boton_chico">Editar</a></td>
                    <td><a href="{% url 'Producto' 'del' ve.idProducto %}" 
                        class="btn btn-danger btn-sm boton_chico">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay productos disponibles.</p>
        {% endif %}
        
        <br>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Agrega un evento al hacer clic en el botón "Descargar Excel"
                document.getElementById('descargar-excel-btn').addEventListener('click', function () {
                    Swal.fire({
                        title: 'Descargando Excel',
                        icon: 'info',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 1500  // Controla la duración de la alerta
                    }).then(() => {
                        // Redirige a la URL de descarga del archivo Excel
                        window.location.href = '{% url "exportar_productos_a_excel_productosdisponibles" %}';
                    });
                });
            });
        </script>
    </div>
{% endblock %}
