{% extends "core\base.html" %}

{% load static %}

{% block title %}
    <title>Mis solicitudes</title>
{% endblock %}

{% block stylesheet %}
    {{ block.super }} <!-- Mantén los estilos de la plantilla base -->
    <link href="{% static 'core/css/solicitudes.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
{% endblock %}

{% block content %}
    <h1>Listado de Solicitudes</h1>

    {% if mesg %}
        <p>{{ mesg }}</p>
    {% endif %}

    <table class="solicitudes-tabla">
        <tr>
          <th class="titulo">ID</th>
          <th class="titulo">Usuario</th>
          <th class="titulo">F. Solicitud</th>
          <th class="titulo">F. Retiro</th>
          <th class="titulo">F. Devolución</th>
          <th class="titulo">F. Devolución efectiva</th>
          <th class="titulo">Productos</th>
          <th class="estado">Estado</th>
          <th class="titulo">Acciones</th>
          <th class="titulo">Comentarios adicionales</th>
          <th class="titulo">Opciones</th>
        </tr>
      
        {% for solicitud in solicitudes %}
          <tr>
            <td>{{ solicitud.idSolicitud }}</td>
            <td>{{ solicitud.usuario }}</td>
            <td>{{ solicitud.fecha_solicitud|date:"d/m/Y" }}</td>
            <td>{{ solicitud.fecha_retiro|date:"d/m/Y" }}</td>
            <td>{{ solicitud.fecha_devolucion|date:"d/m/Y" }}</td>
            <td>{{ solicitud.fecha_devolucion_efectiva|date:"d/m/Y" }}</td>
            <td>
              <ul>
                {% for producto_solicitud in solicitud.productossolicitud_set.all %}
                  <li>{{ producto_solicitud.producto.nombreProducto }} - x {{ producto_solicitud.cantidad }}</li>
                {% endfor %}
              </ul>
            </td>
            <td class="estado">
                {% if solicitud.estaAprobado %}
                  Aprobado
                {% else %}
                  Rechazado
                {% endif %}
            </td>
            <td>
                <form method="post" class="solicitud-form" id="solicitud-form-{{ solicitud.idSolicitud }}">
                    {% csrf_token %}
                    <input type="hidden" name="solicitud_id" value="{{ solicitud.idSolicitud }}">
                    <input type="hidden" name="action" value="">
                    <button type="button" class="btn btn-aprobar" data-action="approve"><img src="{% static 'core/icons/approve.png' %}" alt="Aprobar" class="btn-icon"></button>
                    <button type="button" class="btn btn-rechazar" data-action="reject"><img src="{% static 'core/icons/reject.png' %}" alt="Rechazar" class="btn-icon"></button>
                </form>
            </td>
            <td>{{ solicitud.comentarios }}</td>
            <td>
                <form method="post" class="solicitud-form" id="solicitud-form-{{ solicitud.idSolicitud }}">
                    {% csrf_token %}
                    <input type="hidden" name="solicitud_id" value="{{ solicitud.idSolicitud }}">
                    <input type="hidden" name="action" value="">
                    <button type="button" class="btn btn-editar" onclick="window.location.href='/editar_solicitud/{{ solicitud.idSolicitud }}/'"><img src="{% static 'core/icons/upd.png' %}" alt="Editar" class="btn-icon"></button>
                    <button type="button" class="btn btn-eliminar" data-action="delete"><img src="{% static 'core/icons/del.png' %}" alt="Eliminar" class="btn-icon"></button>
                </form>
            </td>
          </tr>
        {% endfor %}
    </table>
      
      
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const solicitudForms = document.querySelectorAll('.solicitud-form');
    
            solicitudForms.forEach(form => {
                form.addEventListener('click', function (event) {
                    const target = event.target;
                    if (target.classList.contains('btn-aprobar') || target.classList.contains('btn-rechazar') || target.classList.contains('btn-eliminar')) {
                        const action = target.dataset.action;
                        const successMessage = getSuccessMessage(action);
    
                        Swal.fire({
                            icon: 'question',
                            title: 'Confirmación',
                            text: `¿Estás seguro de ${action === 'delete' ? 'eliminar' : action} la solicitud?`,
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Sí',
                            cancelButtonText: 'Cancelar',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                form.querySelector('input[name="action"]').value = action;
                                form.submit();
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Operación exitosa',
                                    text: successMessage,
                                });
                            }
                        });
                    }
                });
            });
    
            function getSuccessMessage(action) {
                switch (action) {
                    case 'approve':
                        return 'La solicitud ha sido aprobada correctamente.';
                    case 'reject':
                        return 'La solicitud ha sido rechazada correctamente.';
                    case 'delete':
                        return 'La solicitud ha sido eliminada correctamente.';
                    default:
                        return '';
                }
            }
        });
    </script>
    
{% endblock %}
