/* Control image size */
.cart_item_image {
  width: 100px; /* Ancho fijo para el contenedor de la imagen */
  height: 100px; /* Altura fija para el contenedor de la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9; /* Color de fondo para el espacio reservado */
  border-radius: 5px; /* Bordes redondeados para el espacio de la imagen */
  padding-left: 10px; /* Espacio a la izquierda del contenedor de la imagen */
}
  
.cart_item_image img {
  max-height: 90px;
  width: auto;
  height: auto;
  vertical-align: middle; /* Center the image vertically */
}

/* Style cart items as a list */
.cart_list {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart_item {
  padding: 10px;
  border-width: 2px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center; /* Center items vertically */
}

.cart_item_content {
  display: flex;
  align-items: center;
  width: 100%;
}

.cart_item_info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.cart_item_remove {
  margin-left: 10px; /* Adjust margin as needed */
}

/* Adjust spacing between image and name */
.cart_item_name {
  margin-left: 30px; /* Add space between image and text */
}

/* Style cart item buttons */
.cart_item_remove_link {
  text-decoration: none;
  color: #ccc;
}

.cart_button_clear,
.cart_button_request {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 5px; /* Agregamos bordes redondeados */
  cursor: pointer;
}

.cart_button_remove {
  background-color: #dc3545; /* Color rojo de btn-danger */
  border: none;
  color: #fff;
  padding: 1px; /* Eliminar padding para ajustar al contenido */
  width: 34px; /* Establecer el ancho igual a la altura */
  height: 34px; /* Altura deseada del botón */
  overflow: hidden; /* Cortar el contenido adicional */
  display: flex; /* Usar flexbox para centrar el ícono */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}

/* Style cart buttons */
.cart_buttons {
  margin-top: 20px;
  text-align: right;
}

.cart_button_clear {
  background-color: #6c757d; /* Cambiamos el color a gris */
  color: #fff;
}

.cart_button_request {
  background-color: #007bff;
  color: #fff;
}

.cart_item_title {
  font-weight: bold;
}

.btn-icon {
  height: 20px; /* Altura del ícono */
  width: auto; /* Para mantener la relación de aspecto */
  vertical-align: middle; /* Alinea verticalmente */
}