/* Estilo para el contenedor del título */
.container-title {
  text-align: center;
  margin-bottom: 10px; /* Puedes ajustar el valor según tus preferencias */
}

/* Media query para el diseño responsive */
@media (max-width: 600px) {
  .container-title img {
    width: 50%; /* Cambia el ancho de la imagen al 80% en dispositivos más pequeños */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
  }
}

.container-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center; /* Centra los productos verticalmente */
  min-height: 100vh; /* Agrega una altura mínima para ocupar toda la altura de la pantalla */
}

/* Estilo para la fila de productos */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los productos horizontalmente */
}

/* Estilo para la carta de producto */
.producto-carta {
  border: 1mm solid navy;
  border-radius: 10px;
  margin: 10px;
  max-width: 18rem; /* Ancho de la tarjeta */
  display: flex; /* Para controlar la disposición de la imagen e información */
}

/* Estilo para la imagen del producto */
.card-img-top {
  height: 200px;
  width: 100%; /* Para asegurarte de que la imagen se ajuste correctamente al ancho de la tarjeta */
  background-color: white; /* Fondo blanco para la parte de la imagen */
}

/* Estilo para la información del producto */
.card-body {
  flex: 1; /* Hace que la información ocupe el espacio restante en la tarjeta */
  background-color: #063f7b; /* Fondo gris para la información */
  color: white; /* Color del texto en la información */
  border-top: 1px solid white; /* Línea separadora entre la imagen y la información */
  text-align: center;
  padding: 10px;
}

/* Estilo para el título del producto */
.card-title {
  font-size: medium;
  text-decoration: none;
}

/* Estilo para el botón de "Ver detalles" */
.btn.btn-primary {
  margin-top: 10px; /* Agrega margen superior para separar el botón del contenido debajo */
}

/* Estilo para la imagen del producto en la carta */
.producto-imagen {
  margin: 10px 0px 20px 0px; /* Agrega margen para separar la imagen de los bordes de la carta */
}

/* Asegúrate de que los elementos internos se ajusten correctamente en el diseño */
.producto-info h2,
.producto-info p {
  width: 100%;
  margin: 0;
}

.imagenes_producto {
  height: 200px;
  width: 200px;
}

/* Estilo para el título del producto en la carta */
.nombre_producto {
  font-size: medium;
  color: white; /* Cambia el color del texto a blanco para que se destaque en el fondo oscuro */
  text-decoration: none;
}

/* Agrega un nuevo estilo para los botones de mantenedor */
/* Estilo para los botones */
.btn-blue {
  display: inline-flex; /* Utilizamos flex para centrar la imagen y el texto */
  font-family: 'Roboto', sans-serif;
  flex-direction: column; /* Alineamos la imagen y el texto en columna */
  align-items: center; /* Centramos en el eje horizontal */
  justify-content: center; /* Centramos en el eje vertical */
  padding: 20px; /* Ajusta el padding para hacer los botones más grandes */
  border: 2px solid #007bff; /* Borde azul */
  border-radius: 10px; /* Esquinas redondeadas */
  margin: 10px; /* Espaciado entre los botones */
  text-decoration: none;
  color: white; /* Color del texto */
  background-color: #007bff; /* Fondo azul */
  width: 200px; /* Tamaño fijo para todos los botones */
}


/* Ajustes para el botón de mantenedor */
.btn-mantenedor {
  border: 2px solid #007bff; /* Borde azul */
}

/* Estilo para la imagen dentro del botón */
.btn-blue img {
  width: 50px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.btn-blue:hover img {
  transform: scale(1.2); /* Escala el icono al 110% cuando el mouse está sobre el botón */
}

/* Estilo para las filas de botones */
.button-row {
  display: flex;
  justify-content: center;
}

/* Media query para el diseño responsive */
@media (max-width: 600px) {
  .button-row {
    flex-direction: column; /* Cambia la dirección a columna en dispositivos más pequeños */
  }
}
